* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Oswald', sans-serif;
    }

    body {
      background-color: #f4f4f4;
      color: #222;
    }

    /* NAV */
    nav {
      background-color: rgb(2, 2, 77);
      color: white;
      padding: 15px 30px;
    }

    #headDiv {
      text-align: center;
      margin-bottom: 10px;
    }

    #head {
      font-size: 35px;
    }

    .logo{
        width: 40px;
        height: 40px;
        margin-left: 20px;
        border-radius: 10px;
    }

    nav ul {
      list-style: none;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
    }

    nav ul li {
      cursor: pointer;
      font-size: 18px;
      transition: color 0.3s;
    }

    nav ul li:hover {
      color: rgb(2, 2, 206);
    }

    /* PAGES */
    .page {
      display: none;
      padding: 60px 20px;
      text-align: center;
    }

    .page.active {
      display: block;
    }

    .content-box {
      background: white;
      max-width: 900px;
      margin: auto;
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 10px 25px rgba(0,0,0,0.1);
      height: 80vh;
    }


    #imgDiv {
  width: 100%;
  height: auto;
}

#imgDiv img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}





    @media (max-width: 600px) {
  #head {
    font-size: 1.6rem;
  }

  .logo {
    height: 36px;
    
  }
}
